@using alavi.Models

@model List<ApplicationUser>
@{
    ViewBag.Title = "ListUser";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Master.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">لیست کاربران سایت</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="tbluser" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>شماره</th>
                                <th>نام کاربری</th>
                                <th>امنیت</th>
                                <th>کلمه عبور</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>
@section Scripts{

    <script>

        $(document).ready(function () {
            var oTable = $('#tbluser').dataTable({
                "bServerSide": true,
                "sAjaxSource": "/api/User/",
                "bProcessing": true,
                "columns": [
            { "data": "Id", "bSearchable": false },
            { "data": "UserName" },
            { "data": "Security" },
            { "data": "pass" }

                ]
            });
        })



    </script>
}


