@{
    ViewBag.Title = "Sponsor";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Master.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">لیست کاربران برای حمایت</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="tblasponsor" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>شماره</th>
                                <th>نام</th>
                                <th>معدل</th>
                                <th>مقطع</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>
@section Scripts{

    <script>

        $(document).ready(function () {
            var oTable = $('#tblasponsor').dataTable({
                "bServerSide": true,
                "sAjaxSource": "/api/Sponsor/GetlistSponsor/",
                "bProcessing": true,
                "columns": [
            { "data": "Id", "bSearchable": false },
            { "data": "Name" },
             { "data": "avarge" },
            { "data": "Education" }


                ]
            });
        })



    </script>
}





