@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="row" style="padding:30px">
    <div class="medium-4 columns" style="border-radius:2px;">
        <div class="medium-15 columns" style="  float: right">
            <div>
                <ul class="menuright">
                    <li class="home"> <a href="/fa/home/index">خانه</a></li>
                    <li class=" active blog"><a href="/fa/home/aboutus">ما که هستیم</a></li>
                    <li class="Star"><a href="/fa/home/Activities">چه کار می کنیم</a></li>
                    <li class="Star"><a href="/fa/home/helpus">چگونه به ما کمک کنید</a></li>
                    <li class="Star"><a href="/fa/home/Contact">چگونه با ما در ارتباط باشید</a></li>
                    <li class="Star"><a>ارتباط مستقیم با مدیر عامل</a></li>
                    <li class="Star"><a href="/fa/account/register">عضویت </a></li>
                    <li class="Contact"><a href="/fa/home/Contact">تماس با ما</a></li>
                </ul>
            </div>
        </div>

        <div class="medium-16 columns" style="margin-top:20px;text-align:right">
            <div style="padding: 2px 0; border-bottom: 1px solid #e6e6e6; margin-bottom: 5px;position: relative;font-size: 14px;">
                تگ مطالب
            </div>
            <div>
                <ul style="list-style:none;display:table;width:100%;margin-top:0;padding-left:0;">
                    <li style="float: right;width: 50%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>
                    <li style="float: right;width: 50%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>
                    <li style="float: right;width: 50%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>
                    <li style="float: right;width: 50%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>


                </ul>
            </div>
        </div>

        <div class="medium-16 columns" style="margin-top:20px;text-align:right">
            <div style="padding: 2px 0; border-bottom: 1px solid #e6e6e6; margin-bottom: 5px;position: relative;font-size: 14px;">
                حامی شوید
            </div>
            <div>
                <ul style="list-style:none;width:100%;margin-top:0;padding-left:0;">
                    <li><a style="display: block;position: relative;"><img src="~/Content/Image/2_4115.jpg" style="border:1px solid #e0e0e0;padding:3px;" /></a></li>


                </ul>
            </div>
        </div>


        <div class="medium-16 columns" style="margin-top:20px;text-align:right">
            <div style="padding: 2px 0; border-bottom: 1px solid #e6e6e6; margin-bottom: 5px;position: relative;font-size: 14px;">
                دوستانمان
            </div>
            <div>
                <ul style="list-style:none;display:table;width:100%;margin-top:0;padding-left:0;">
                    <li style="float: right;width: 100%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>
                    <li style="float: right;width: 100%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>
                    <li style="float: right;width: 100%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>
                    <li style="float: right;width: 100%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>


                </ul>
            </div>
        </div>

    </div>
    <div class="medium-12 columns">
        <div class="medium-16 columns forms">
            <div><h3>ما که هستیم؟؟؟؟</h3></div>
            <div class="contents">

                <h4>تاریخچه موسسه  فرهنگی خیریه علوی مشهد</h4>
                <div>
                    موسسه فرهنگی خیریه علوی به سال ۱۳۴۹ توسط  تنی چند از نیکوکاران شهر بهشت بنیانگذاری شده و سپس به ثبت رسیده است . این موسسه از ابتدا در زمینه های مختلف به نیازمندیهای ایتام و محرومیت توجه و ارائه خدمت داشته و مواردی از قبیل تهیه ارزاق عمومی ، کالاهای اساسی ، اهداء جهیزیه و پرداخت وام و کمک هزینه درمانی و تحصیلی و … را به انجام رسانیده است.

                    اما امروزه با حفظ فعالیتهای قبل بیشتر به موضوع ادامه تحصیل فرزندان و بالا بردن سطح فرهنگ خانواده تمرکز نموده است. از این رو چندی است با همیاری همشهریان سبزاندیش به اجرای طرح حامی تحصیلی اقدام نموده که با عنایت خداوند منان و حضور گرم و پررنگ حامیان گرامی با موفقیت روز افزون مواجه گردیده است .

                </div>
                <h4> اهم اهداف مؤسسه فرهنگی خیریه علوی مشهد</h4>
                <div>
                    1-ارتقاء سطح دانش و فرهنگ مددجویان بویژه دختران و پسران محصل با ایجاد بستری مناسب جهت شکوفایی استعدادهای درخشان و خلاقیت های ایشان<br />
                    2-ایجاد اشتغال فعال و مناسب جهت زنان سرپرست خانوار و فرزندانشان<br />
                    3-ارائه خدمات پزشکی ( درمان و دارو) در جهت سلامت جسم و روح و روان خانواده ها<br />
                    4-ارائه خدمات رفاهی در جهت تأمین مواد غذایی و مسکن و جهیزیه<br />
                    5-آشنایی و ارتقاء سطح مسائل زیربنایی، فرهنگی، اجتماعی و آگاهی دادن به خانواده ها به ویژه جوانان در بستر مشاوره<br />
                    6-برگزاری کلاسهای آموزشی در جهت رشد و ارتقاء کارهای تولیدی و ورود به بازار کار<br />
                    7-ایجاد ازدواج های همگون و مناسب با بستر سازی در بین خانواده ها<br />

                </div>
                <h4>منشور اخلاقی مؤسسه فرهنگی خیریه علوی مشهد:</h4>

                <p style="font-weight:bolder">
                    وظایف اخلاقی هیأت مدیره
                </p>

                <div>
                    1. اخلاق ورزی در زندگی شخصی<br />

                    2. اخلاق ورزی در شغل<br />

                    3. اخلاق سازی آرمان و اهداف سازمان<br />

                    4. نظام مند کردن همه امور حرفه ای در سازمان<br />

                    5. جهت گیری اخلاقی نظامهای حرفه ای در سازمان<br />

                    6. ارزیابی مستمر عملکرد اخلاقی<br />

                    7. مواجهه روشمند با معضلات اخلاقی ( تشخیص مساله و حل آنها)<br />

                    8. ترویج ارزشهای اخلاقی و آموزش اخلاق ورزی در سازمان<br />

                    9. وقوف بر تبعات اخلاقی تصمیم های هیأت مدیره<br />

                    10. تدوین، تصویب و اعلام منشور اخلاقی سازمان<br />

                    11. نظارت بر پای بندی استثنا ناپذیر به منشور اخلاقی<br />

                    12. تبلیغ اقدامهای اخلاقی سازمان<br />
                </div>
                <p style="font-weight:bolder">
                    وظایف اخلاقی سازمان در قبال اعضا
                </p>


                <div>
                    1. تکریم تمام و کمال تک تک اعضای خانواده بزرگ علوی<br />

                    2. ترویج فرهنگ غنی اسلام در تمام ابعاد زندگی خود و اعضای خانواده بزرگ علوی<br />

                    3.   و آگاهی سطح افزایش راستای در موجود امکانات از بهینه استفاده جهت در مستمرتلاش<br />

                    4.   نیاز درک مدیریتی، توان از گیری بهره با علوی مؤسسه خانواده اعضا توانمندیهای سطحارتقاء

                    درآمدزایی اعضا با رعایت شئونات اسلامی

                    و توقعات اعضا با رعایت نظم و انضباط و مقررات<br />

                    5. رعایت اعتدال و انصاف در ارائه خدمات مطلوب<br />
                    6. همکاری و خوش رویی با ارباب رجوع<br />

                    7. حفظ شئونات و آراستگی ظاهری<br />

                    8. دقت و سرعت عمل در کار<br />

                    9. ایجاد بانک اطلاعات جهت ارائه خدمات مؤثر<br />
                </div>
                <p style="font-weight:bolder">
                    وظایف اخلاقی سازمان در قبال کارکنان
                </p>
                <div>

                    1) ارتقاء سطح دانش،مهارت، توانایی و نگرش کارکنان<br />

                    2) تأمین امنیت شغلی و ایجاد فرصت ارتقاء فرصت شغلی<br />

                    3) تصحیح انگیزش و تقویت درون انگیختگی<br />

                    4) تأمین حقوق عادلانه و مکفی<br />

                    5) نقد پذیری و مشارکت طلبی<br />

                    6) حفظ حریم شخصی، رازداری و امانت نگریv

                    7) تناسب اختیارات و مسئولیت ها<br />

                    8) حمایت معنوی و مادی از کارکنان<br />

                    9) مواجهه صادقانه و صریح با کارکنان<br />

                    10) تأمین مدیران لایق و منصف<br />

                    11) احترام و اعتماد به کارکنان<br />

                    12) حمایت از آزادی های فردی<br />
                </div>
                <p style="font-weight:bolder"> اعضای هیأت مدیره</p>
                <div>

                    1- غلامرضا ایلخانی<br />

                    2- حسن جعفری زاده<br />

                    3- محمدرضا حسینی<br />

                    4- علی اکبر حسن زاده<br />

                    5- سید فتح الله شاهچراغیان<br />

                    6- سید جواد عربی<br />

                    7- محمدرضا فلاح<br />

                    8- اصغر مشایخی<br />

                    9- علی گیوری<br />
                </div>
            </div>




        </div>
    </div>
</div>
