@{
    ViewBag.Title = "Activities";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="row" style="padding:30px">
    <div class="medium-4 columns" style="border-radius:2px;">
        <div class="medium-16 columns" style="  float: right">
            <div>
                <ul class="menuright">
                    <li class="active home"> <a href="/fa/home/index">خانه</a></li>
                    <li class="  blog"><a href="/fa/home/aboutus">ما که هستیم</a></li>
                    <li class=" Star"><a href="/fa/home/Activities">چه کار می کنیم</a></li>
                    <li class="Star"><a href="/fa/home/helpus">چگونه به ما کمک کنید</a></li>
                    <li class="Star"><a href="/fa/home/Contact">چگونه با ما در ارتباط باشید</a></li>
                    <li class="Star"><a>ارتباط مستقیم با مدیر عامل</a></li>
                    <li class="Star"><a href="/fa/account/register">عضویت </a></li>
                  
                </ul>
            </div>
        </div>

        <div class="medium-16 columns" style="margin-top:20px;text-align:right">
            <div style="padding: 2px 0; border-bottom: 1px solid #e6e6e6; margin-bottom: 5px;position: relative;font-size: 14px;">
                تگ مطالب
            </div>
            <div>
                <ul style="list-style:none;display:table;width:100%;margin-top:0;padding-left:0;">
                    <li style="float: right;width: 50%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>
                    <li style="float: right;width: 50%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>
                    <li style="float: right;width: 50%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>
                    <li style="float: right;width: 50%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>


                </ul>
            </div>
        </div>

        <div class="medium-16 columns" style="margin-top:20px;text-align:right">
            <div style="padding: 2px 0; border-bottom: 1px solid #e6e6e6; margin-bottom: 5px;position: relative;font-size: 14px;">
                حامی شوید
            </div>
            <div>
                <ul style="list-style:none;width:100%;margin-top:0;padding-left:0;">
                    <li><a style="display: block;position: relative;"><img src="~/Content/Image/2_4115.jpg" style="border:1px solid #e0e0e0;padding:3px;" /></a></li>


                </ul>
            </div>
        </div>


        <div class="medium-16 columns" style="margin-top:20px;text-align:right">
            <div style="padding: 2px 0; border-bottom: 1px solid #e6e6e6; margin-bottom: 5px;position: relative;font-size: 14px;">
                دوستانمان
            </div>
            <div>
                <ul style="list-style:none;display:table;width:100%;margin-top:0;padding-left:0;">
                    <li style="float: right;width: 100%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>
                    <li style="float: right;width: 100%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>
                    <li style="float: right;width: 100%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>
                    <li style="float: right;width: 100%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>


                </ul>
            </div>
        </div>

    </div>
    <div class="medium-12 columns">
        <div class="medium-16 columns forms">
            <div><h3>چه کار می کنیم؟؟؟</h3></div>
            <div class="contents">
                <h4> فعالیت ها</h4>


                <p style="font-weight:bolder">
                    اولویت بندی فعالیت های موسسه :
                </p>


                این موسسه از ابتدای راه اندازی در راستای تأمین کلیه نیازمندیهای مددجویان در حد توان، فعال بوده است.  اما از سال ۱۳۸۲ با تجدید نظر در سیستم خدمت رسانی و هم گام شدن با تغییر و تحولات فرهنگی و اقتصادی ( با عنایت به تغییر نمودن سطح زندگی مردم ) تغییرات اساسی را به عنوان تحول درون سازمانی آغاز نموده است. و هم اکنون در این راستا به فعالیت خود ادامه می دهد . این تغییرات اساسی که در قالب اولویت بندی خدمات به مددجویان در جلسات مکرر هیأت مدیره تصویب شده و در حال انجام است،  به شرح زیر است : 

                <p style="font-weight:bolder">
                    اولویت اول :
                </p>


                تلاش در جهت ارتقاء سطح فرهنگ و سواد خانواده های تحت پوشش از طریق: <br />
                رسیدگی به امور تحصیلی آنها ( از ابتدایی تا دانشگاه)<br />
                رسیدگی به امور بهداشتی دانش آموزان<br />
                برگزاری کلاسها و همایشهای تربیتی و آموزشی دانش آموزی  <br />
                تأسیس کتابخانه علوی درمحل موسسه<br />
                رسیدگی حضوری به مشکلات فرزندان محصل خیریه درموسسه توسط گروه مشاورین،<br />
                تأمین لوازم، البسه و مایحتاج کلیه دانش آموزان و جلوگیری از ترک تحصیل ایشان و مساعدت به آنها که به طور جدی و قاطع پیگیری می شود .<br />
 .

                <p style="font-weight:bolder"> اولویت دوم :</p>

                اشتغال زایی و تشویق به فعالیت های تولیدی<br />

                در این راستا موسسه فرهنگی خیریه علوی مشهد در عین مواجه بودن با محدودیت های موجود، تلاش های شبانه روزی موفقیت آمیزی داشته است که نتیجه ی آن تشویق خانواده مددجو در جهت کسب استقلال و درآمدزایی بوده است.
                به این امید که روحیه راحت طلبی از بین رفته و این حالت نسبت به فرزندان آنها تأثیر فرهنگی سوء نگذارد ( در این خصوص بررسی اماکن ومحل هایی که مددجو می تواند فعالیت کند، شناسایی و کتباً و تحت کنترل به کارگاه یا محل مربوطه معرفی می گردند.<br />
                پرداخت وام های اشتغال<br />
                شناسایی توانمندی های فردی در تک تک افراد فعال در موسسه، کمک به شکوفایی استعدادها و ارتقای سطح مهارت های آنها، تهیه و تجهیز کارگاه های تولیدی جهت استفاده ی خانواده ها به عنوان فرصت شغلی.<br />


                <p style="font-weight:bolder">  اولویت سوم :</p>


                تأمین بهداشت و درمان<br />
                در این جهت با متخصصین و پزشکان دلسوز و متعهد که به دنبال فعالیت بی ریا و خداپسندانه بوده اند، جلساتی در موسسه برگزار شد که در  نتیجه ی آن هر کدام از عزیزان تعهداتی را متقبل شدند تا خانواده ها بتوانند جهت امور درمان مستقیماٌ از طرف موسسه به ایشان معرفی شوند. در این صورت از هرز رفتن وقتشان در درمانگاه های عمومی جلوگیری به عمل آید و به صورت تخصصی نسبت به درمان اقدام گردد.علاوه بر این موسسه با مدیران نیکوکار داروخانه هایی در سطح شهر ارتباط داشته و در جهت تامین دارو رایگان برای مددجویان فعالیت می نماید.


                <p style="font-weight:bolder"> اولویت چهارم :</p>

                تأمین مایحتاج روزانه مددجویانی که استحقاق آنها توسط محققین موسسه بررسی شده است (با توجه به میزان نیاز ایشان) شامل: تهیه ارزاق عمومی و خواروبار،  مقداری وجه نقد جهت ضروریات  زندگی ، تهیه لوازم ضروری منزل و کالاهای اساسی از قبیل ، پنکه ، بخاری ، فرش ماشینی ، یخچال ، گاز خوراک پزی ، تلویزیون و لباسشویی و نیز تهیه جهیزیه برای فرزندان خانواده ها .<br />
                علاوه بر موارد فوق: تهیه البسه ، پوشاک . کفش برای عید نوروز، ابتدای سال تحصیلی و در صورت ضرورت تهیه البسه فصلی
                <p style="font-weight:bolder">  اولویت پنجم :</p>


                موسسه فرهنگی خیریه علوی مشهد در جهت خانه دار شدن مددجویان از کار افتاده و عیالوار در مناطق محروم شهر از طریق پرداخت وام به خانواده های تحت پوشش خود کمک رسانی می کند. چراکه از این طریق مددجویان می توانند با حداقل امکانات صاحب خانه شوند.
                علاوه بر پرداخت وام جهت تهیه مسکن، خدمات عمرانی نیز در جهت تعمیرات منزل خانواده های ایتام و بی سرپرست صورت می پذیرید. از دیگر خدمات مربوط به بحث مسکن که در این موسسه به  انجام می رسد، پرداخت کمک هزینه وجه رهن برای مددجویان مستاجر به طور قرض الحسنه و به رسم امانت است .


                <h4> درمانگاه ها و پزشکان داوطلب</h4>

                بیمارستان 17 شهریور<br />
                بیمارستان امام رضا (ع)<br />
                بیمارستان حضرت خدیجه (س)<br />
                بیمارستان حضرت زینب (س)<br />
                بیمارستان دکتر شیخ<br />
                بیمارستان صاحب الزمان (ع)<br />
                داروخانه دکتر شهریاری<br />
                درمانگاه امدادگران عاشورا<br />
                درمانگاه حضرت ابوالفضل (ع)<br />
                درمانگاه سید الشهدا (ع)<br />
                دکتر ابوالفضل محمدی<br />
                کلینیک تخصصی سرور

                <h4>  طرح های ما</h4>


                طرح حامی تحصیلی<br />
                وجوه پرداختی طرح حامی صرفا هزینه تحصیل فرزندی از میان دانش آموزان و دانشجویان تحت پوشش این مؤسسه می گردد و صرف خرید کتاب، لوازم التحریر، لباس فرم مدرسه، هزینه رفت و آمد آموزشگاه و یا ثبت نام دانشگاه و کلاس های تقویتی، جبرانی و فوق برنامه خارج یا داخل مؤسسه خواهد شد . وجوه پرداختی حامیان تحصیلی در حساب جداگانه ای در مؤسسه واریز و بنا به نیاز محصل مورد نظر پرداخت می گردد .<br />
                دانش آموزان یا دانشجویانی که هنوز حامی تحصیلی ندارند توسط مؤسسه حمایت می شوند .
                واحد فرهنگی مؤسسه اقدام به تشکیل انجمن دانشجویی توسط دانشجویان تحت پوشش خود نمود که این کار برای اولین بار در بین مؤسسات خیریه انجام پذیرفت تا ایشان نماینده مددجویان و زبان گویای آنها باشند و بدنبال آن دست به تشکیل صندوق قرض الحسنه دانشجویی زده است تا وجوه پرداختی نیکوکارانی که هزینه سال تحصیلی را یکباره پرداخت می نمایند ابتدا وارد صندوق قرض الحسنه شده و سپس در قالب وام به دانشجویان پرداخت و اقساط ماهانه آنها به دانش آموزان جهت هزینه های جاری پرداخت شود تا ریالی بلااستفاده نماند که در همین جا لازم می دانیم از حامیانی که به طور یکجا و سالانه مساعدت می نمایند تشکر و قدردانی شود .<br />
                 برگزاری کلاسهای تقویتی، جبرانی، زبان خارجی و ... در محل مؤسسه از دیگر عملکردهای انجمن دانشجویی است که توسط دانشجویان مقاطع کارشناسی و کارشناسی ارشد تدریس تا باز رقمی از مؤسسه بابت این گونه موارد هزینه نشده و نیز درآمدی برای دانشجویان لحاظ شود. راه اندازی کتابخانه الکترونیک در محل مؤسسه توسط دانشجوی کارشناسی کتابداری و تهیه کتب درسی مشترک برای دانش آموزان و دانشجویان و نیز خرید کامپیوتر برای خانواده هایی که دارای چند فرزند دانشجو و دانش آموز می باشند از محل حمایت های تحصیلی دستاورد دیگری از طرح حامی تحصیلی است . ایجاد اطاق مشاوره برای مددجویان توسط دانشجویان روانشناسی هر صبح جمعه در محل مؤسسه ره آورد دیگری از این انجمن است .<br />
                اجرای این طرح و حمایت مالی نیکوکاران آن باعث رشد 30 درصدی دانشجویان، برگشت به تحصیل 20 درصدی دانش آموزان ترک تحصیل کرده، ارتقاء قابل توجه نمرات محصلین و حمایت کامل مالی از حدود 350 دانشجو و دانش آموز و حمایت مقطعی از 200 دانش آموز مرتبط با مؤسسه را به ارمغان آورده است با وجود این هنوز تعدادی از فرزندان این مؤسسه دارای حامی نبوده که امید است با همیاری شما که عضوی از خانواده بزرگ مؤسسه علوی می باشید هیچ فرزندی بدون حامی نمانده و دغدغه ای برای تحصیل نداشته باشد .
                مفتخریم که همه اینها که آرزویمان بود با حداقل امکانات و در بنایی کوچک و محقر به حقیقت پیوست . واحد فرهنگی مؤسسه به نیابت فرزندانش دست پر مهرتان را بوسیده و دلخوش به پشتیبانی شماست . در ضمن کلیه هزینه های مربوط به این بخش بانی خاص داشته و از محل حمایت های مردمی تأمین نمی شود .


                <h4> بخش های موسسه</h4>


                واحد جذب منابع مالی<br />

                واحد صندوق<br />

                واحد امور فرهنگی<br />

                واحد تحقیق
            </div>




        </div>
    </div>
</div>

