@model IEnumerable<alavi.Models.News>
<div class="row" style="padding:30px">
    <div class="medium-4 columns" style="border-radius:2px;">
        <div class="medium-16 columns" style="  float: right">
            <div>
                <ul class="menuright">
                    <li class="active home"> <a>خانه</a></li>
                    <li class="blog"><a>وبلاگ</a></li>
                    <li class="Star"><a>صدقات</a></li>
                    <li class="Star"><a>کمک های مردمی</a></li>
                    <li class="Star"><a>خمس</a></li>
                    <li class="Star"><a>خمس</a></li>
                    <li class="Star"><a>زکات</a></li>
                   
                </ul>
            </div>
        </div>

        <div class="medium-16 columns" style="margin-top:20px;text-align:right">
            <div style="padding: 2px 0; border-bottom: 1px solid #e6e6e6; margin-bottom: 5px;position: relative;font-size: 14px;">
                تگ مطالب
            </div>
            <div><ul style="list-style:none;display:table;width:100%;margin-top:0;padding-left:0;">
                <li style="float: right;width: 50%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>
                     <li style="float: right;width: 50%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>
                     <li style="float: right;width: 50%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>
                     <li style="float: right;width: 50%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>


                </ul>
            </div>
        </div>

        <div class="medium-16 columns" style="margin-top:20px;text-align:right">
            <div style="padding: 2px 0; border-bottom: 1px solid #e6e6e6; margin-bottom: 5px;position: relative;font-size: 14px;">
               حامی شوید
            </div>
            <div>
                <ul style="list-style:none;width:100%;margin-top:0;padding-left:0;">
                   <li ><a style="display: block;position: relative;"><img src="~/Content/Image/2_4115.jpg" style="border:1px solid #e0e0e0;padding:3px;" /></a></li>


                </ul>
            </div>
        </div>


        <div class="medium-16 columns" style="margin-top:20px;text-align:right">
            <div style="padding: 2px 0; border-bottom: 1px solid #e6e6e6; margin-bottom: 5px;position: relative;font-size: 14px;">
               دوستانمان
            </div>
            <div>
                <ul style="list-style:none;display:table;width:100%;margin-top:0;padding-left:0;">
                    <li style="float: right;width: 100%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>
                    <li style="float: right;width: 100%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>
                    <li style="float: right;width: 100%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>
                    <li style="float: right;width: 100%;font-size: 13px;"><a style="display: block;width: 100%;height: 100%;position: relative;border: 1px solid #e6e6e6;text-align: center;background: white;color: #4d4d4d;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;">سیب</a></li>


                </ul>
            </div>
        </div>

    </div>


    <div class="medium-12 columns">
        <section class="medium-16 columns news" style="margin-top:0px">
            <div class="medium-16 columns body" style="padding:0">

            
            @{
                foreach (var news in Model)
                {
                    
                      <article class="medium-8 columns" style="padding:5px; padding-top:0;">
                    <div class="inner">
                        <div class="image"><a><img src="/image/news/@news.Image" /></a></div>
                        <div class="head">
                            <h2><a> @news.Title</a></h2>
                        </div>
                        <div class="description">
                            <p> @news.shortNews</p>
                            <div class="buttomcontiner">
                                <div class="readmore">
                                    <div class="innermore"><a href="@Url.Action("Post", new {id=news.Id })">بیشتر بخوانید</a></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </article>
                    
                }
                
                
                
            }


              
    


          


              



            </div>

                </section>




           

</div>
</div>
