@font-face {
  font-family: 'Yekan';
  src: url('/Areas/AdminPanel/Content/fonts/YekanWeb-Regular.eot');
  src: url('/Areas/AdminPanel/Content/fonts/YekanWeb-Regular.eot?#iefix') format('embedded-opentype'), url('/Areas/AdminPanel/Content/fonts/YekanWeb-Regular.woff') format('woff'), url('/Areas/AdminPanel/Content/fonts/YekanWeb-Regular.ttf') format('truetype'), url('/Areas/AdminPanel/Content/fonts/YekanWeb-Regular.svg#@glyphicons_halflingsregular') format('svg');
}
body{
    font-family:Yekan !important;
    direction:rtl;
}
.has-feedback .form-control  {
    padding-left: 42.5px !important;
    padding-right: 5px;
}
.form-control-feedback {
  
    left: 0px;
    right:auto;
   

}